<div class="fw-edit-field">
    <div v-show="!editing" class="fw-edit-field-label">
        <i-icon v-show="saving" type="ios-loading" class="fw-edit-field-saving"></i-icon>
        <span v-show="!saving">{{displayValue}}</span>
    </div>
    <div v-show="editing" class="fw-edit-field-control">
        <slot></slot>
    </div>
    <div class="fw-edit-field-extra">
        <slot name="extra"></slot>
    </div>
    <div class="fw-edit-field-action">
        <i-button v-show="!editing && !saving" type="text" icon="md-create" @click="onEdit"></i-button>
        <i-button v-show="editing" type="text" icon="md-checkmark" @click="onEditComplte"></i-button>
    </div>
</div>